[project]
	description = Go benchmarks of some Go CSPRNG & PRNG implementations
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Joel Scoble (mohae)
[access "refs/for/refs/*"]
	read = group user/Joel Scoble (mohae)
	push = group user/Joel Scoble (mohae)
	label-Code-Review = -2..+2 group user/Joel Scoble (mohae)
	label-Verified = -1..+1 group user/Joel Scoble (mohae)
	rebase = group user/Joel Scoble (mohae)
	removeReviewer = group user/Joel Scoble (mohae)
	submit = group user/Joel Scoble (mohae)
[access "refs/heads/*"]
	read = group user/Joel Scoble (mohae)
	create = group user/Joel Scoble (mohae)
	push = +force group user/Joel Scoble (mohae)
	pushMerge = group user/Joel Scoble (mohae)
[access "refs/tags/*"]
	push = group user/Joel Scoble (mohae)
	push = +force group user/Joel Scoble (mohae)
